<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="./static/style-v1.css">
</head>
<body>
    <!-- <div id="header"> -->
        <!-- <h1><b>INHOUSE</b></h1> -->
        <!-- <p id="desc">Inhouse Player Stats</p> -->
    <!-- </div> -->
    <div id="loginPage">
	<h4><b>Username not found</b></h4>
	<form action="/player_data" method = "POST">
	<label for="player">Input Player Username:</label><br>
	<input type="text" id="player_username" name="username"><br><br><br>
	<input class="btn btn-primary btn-lg" type="submit" value="Submit">
	</form>
        <!-- <a class="btn btn-primary btn-lg" href="/login"> -->
            <!-- <b>Login with Spotify</b> -->
        <!-- </a> -->
     <div>
	
	<br>
	<br>
